header {
  border-bottom: 5px solid #495e57;
}

.logo-img {
  width: 140px;

  @include media-breakpoint-up(sm) {
    width: 180px;
  }

  @include media-breakpoint-up(lg) {
    width: 240px;
  }
}

.nav-link {
  font-size: 16px;
  color: #696 !important;
  &:hover,
  &:active {
    color: #495e57 !important;
    text-decoration: underline;
  }
}
.nav-menu {
  display: flex;
  align-items: center;
}

.nav-menu li {
  padding: 0 15px;
  list-style-type: none;
}

.nav-menu li a:hover {
  color: #495e57;
}

.nav {
  position: absolute;
  right: 0;
  top: 0;
  @media (min-width: 700px) {
    display: block;
    position: static;
  }
}

.IconButton {
  @media (min-width: 700px) {
    display: none !important;
  }
}
