header {
  border-bottom: 5px solid #495e57;
}

.logo-img {
  width: 140px;

  @include media-breakpoint-up(sm) {
    width: 180px;
  }

  @include media-breakpoint-up(lg) {
    width: 200px;
  }
}

.nav-link {
  font-size: 16px;
  color: #495e57 !important;
  font-weight: bold;
  &:hover,
  &:active {
    color: #495e57 !important;
    opacity: 0.85;
    text-decoration: underline;
  }
}
.nav-menu {
  display: flex;
  align-items: center;
}

.nav-menu li {
  padding: 0 15px;
  list-style-type: none;
}

.nav-menu li a:hover {
  color: #495e57;
}

