header{
    border-bottom: 1px solid red;
}


.logo-img{
    width:160px;

    @media (min-width:700px) {
    width:200px;
    }
}

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-menu li {
    padding: 0 15px;
    list-style-type: none;
}

.nav-menu li a:hover {
    color: #495e57;
}

.nav{
    position: absolute;
    right:0;
    top:0;
    @media (min-width:700px) {
        display:block;
        position: static;
        
    }
}

.IconButton{
    @media (min-width:700px) {
        display:none !important;
        
    }
}