footer {
  border-top: 5px solid #495e57;
}

.footer-background {
  background-color: #333;
  padding: 60px 0;
}

footer img {
  width: 120px;
  margin-bottom: 20px;

  @include media-breakpoint-up(md) {
    width: 100%;
  }
}

.footer-content {
  font-size: 14px;
  margin-bottom: 60px;
  color: #fff;

  @include media-breakpoint-up(md) {
    display: grid;
    grid-template-columns: 10% 20% 35% 35%;
    gap: 16px;
  }
}

.footer-content ul li {
  text-transform: capitalize;
}

.footer-content h5 {
  margin-bottom: 30px;
}
footer .copyright {
  color: #fff;
}
