/// bootstrap vars
/// 
$theme-colors: (
    "main1": #495e57,
    "main2": #f4ce14,
);
$primary : #495e57;
$scondary : #f4ce14;
$body-color: #000;

$font-family-sans-serif: Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;



// custom vars
$main1 : #495e57;
$main2 : #f4ce14;




@import "~bootstrap/scss/bootstrap";

// Global styles

img{
  display: block;
  max-width: 100%;
}

// Components
@import "/src/components/header/header";
@import "/src/components/footer/footer";
@import "/src/components/hero/hero";
@import "/src/components/specials/specials";
@import "/src/components/dish/dish";
@import "/src/components/customersSay/testimonials";
@import "/src/components/testimonial-item/testimonialsItem";
@import "/src/components/bookingForm/BookingForm";


