/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

$theme-colors: (
    "zak" : #020,
    "main1": #495e57,
    "main2": #f4ce14,
);

$zak : #020;
$main1 : #495e57;
$main2 : #f4ce14;



@import "~bootstrap/scss/bootstrap";

// Global styles
body{
  color:#000;
  font-size: 14px;
  line-height: 1.6;
}

img{
  display: block;
  max-width: 100%;
}

// Components
@import "/src/components/header/header";
@import "/src/components/footer/footer";
@import "/src/components/hero/hero";
@import "/src/components/specials/specials";
@import "/src/components/dish/dish";

